.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  background-color: #FAFAFA;
}

nav.navbar {
  display: flex;
  align-items: center;
  height: 3rem;
  border-bottom: 1px solid #CCC;
  box-shadow: 1px 1px 3px #CCC;
}
nav.navbar .header-item {
  color: #777;
  padding: 0.85rem 2rem;
}
nav.navbar .header-item.active {
  color: #0072ff;
  font-weight: bold;
  border-bottom: 2px solid #0072ff;
}
nav.navbar a {
  color: #777;
  text-decoration: none;
}
nav.navbar a:hover {
  color: #0072ff;
}

.f-container { 
  display: flex; 
  justify-content:
  flex-end; 
}

.centering_parent {            
  text-align: center;      
}

.userShow {
  text-align: center;
  
}

.showText {
  margin: auto;
  width: 50%;
}
